
/* TaskList */
.task-list {
  margin-top: 15px;
  margin-bottom: -5px;
  padding: 5px 20px;
}
.task-list-name {
  font-weight: bold;
  font-size: 18px;
}
.task-list-actions {
  float: right;
  margin-top: -2px;
}
.task-list-actions a {
  margin-left: 10px;
  color: #666;
  font-size: 14px;
  text-decoration: none;
  display: none;
}
.task-list-actions a:hover {
  text-decoration: underline;
}
.task-list:hover {
  background-color: #eee;
}
.task-list:hover .task-list-actions a {
  display: inline-block;
}

/* Tasks */
.tasks .collection .collection-item {
  padding: 5px 10px;
}
.tasks .collection .collection-item:hover {
  background-color: #eee;
}
.tasks .collection .collection-item:hover .hide-on-hover {
  display: none;
}
.tasks .collection .collection-item:hover .task-actions a {
  display: inline-block;
}

/* Task */
.task {
  padding: 3px;
}
.task-name.finished {
  text-decoration: line-through;
}
.task-actions {
  float: right;
  margin-top: 4px;
}
.task-actions span {
  color: #999;
}
.task-actions a {
  padding-left: 10px;
  color: #666;
  font-size: 14px;
  text-decoration: none;
  display: none;
}
.task-actions a:hover {
  text-decoration: underline;
}

/* Animations */
.animated.ng-enter, 
.animated.ng-leave { 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 
 
.animated.ng-leave.ng-leave-active,
.animated.ng-enter {
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -o-transform: translateX(10%);
    transform: translateX(10%);
    opacity: 0;
}
 
.animated.ng-enter.ng-enter-active,
.animated.ng-leave {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
}