<div ng-if="editing" class="task-list-editing">
  <input type="text" ng-model="model.name" ng-enter="save()">
</div>
<div ng-if="!editing" class="task-list">
  <h5>{{ model.name }}
    <span class="task-list-actions">
      <a href ng-click="edit()">Edit</a>
      <a href ng-click="clear()">Clear</a>
      <a href ng-click="remove()">Remove</a>
    </span>
  </h5>
</div>
<div class="tasks">
  <ul class="collection">
    <li class="collection-item">
      <div class="input-field col s12">
        <input type="text" ng-model="task.name" ng-enter="addTask()" id="taskListTaskEntry{{ model.id }}">
        <label for="taskListTaskEntry{{ model.id }}">New Task</label>
      </div>
    </li>
    <li class="collection-item animated" ng-repeat="t in model.tasks track by t.id">
      <task model="t"></task>
    </li>
  </ul>
</div>