<!DOCTYPE html>
<html>
  <head>
    <title>Rekord Todo Example</title>
  </head>
  <body ng-app="todos">

    <div ng-controller="TodoController as ctrl">

      <!-- Online status -->
      <div style="float:right">
        <a href="#" ng-hide="ctrl.isOnline()" ng-click="ctrl.setOnline(true)">Go Online</a>
        <a href="#" ng-show="ctrl.isOnline()" ng-click="ctrl.setOnline(false)">Go Offline</a>
      </div>

      <!-- New Todo -->
      <input type="text" ng-model="ctrl.todo.name" ng-enter="ctrl.addTodo()">

      <!-- List of Todo -->
      <div ng-repeat="t in ctrl.todos">
        <todo model="t"></todo>
      </div>

    </div>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
    <script src="http://rawgit.com/Rekord/storkjs/master/build/stork.min.js"></script>
    <script src="../pubsub/pubsub-client.js"></script>

    <script src="../../build/rekord.js"></script>
    <script src="http://rawgit.com/Rekord/rekord-pubsub/master/build/rekord-pubsub.min.js"></script>
    <script src="http://rawgit.com/Rekord/rekord-storkjs/master/build/rekord-stork.min.js"></script>
    <script src="http://rawgit.com/Rekord/rekord-angular/master/build/rekord-angular.min.js"></script>
    <script src="http://rawgit.com/Rekord/rekord-debug/master/build/rekord-debug.min.js"></script>

    <!-- Todo Application -->
    <script>

      angular.module('todos', ['rekord'])

        .config(function($logProvider)
        {
          $logProvider.debugEnabled( true );
        })

        .constant('PUBSUB', 'http://localhost:3000')

        .constant('RESTBASE', 'http://localhost:8080/api/')

        .run(function(PUBSUB, RESTBASE)
        {
          var Todo = Rekord({
            name: 'todos',
            api: RESTBASE + 'todos/',
            pubsub: PUBSUB,
            channel: 'todos',
            token: 'root',
            fields: ['name', 'done', 'created_at', 'updated_at'],
            timestamps: true,
            defaults: {
              done: false
            },
            comparator: '-created_at',
            summarize: function(model) {
              return model.name;
            }
          });

          window.Todo = Todo;

          Rekord.load();
        })

        .directive('todo', function()
        {
          return {
            restrict: 'E',
            scope: {
              model: '='
            },
            template: [
              '<div ng-if="editing">',
              '   <input type="text" ng-model="model.name" ng-enter="saveTodo()">',
              '</div>',
              '<div ng-if="!editing">',
              '   <input type="checkbox" id="todo{{ model.id }}" ng-model="model.done" ng-change="saveTodo()">',
              '   <label for="todo{{ model.id }}">{{ model.name }}</label>',
              '   <span style="float: right">',
              '     <span ng-hide="model.$isSaved()">(local)</span>',
              '     <a href="#" ng-click="editTodo()">Edit</a>',
              '     <a href="#" ng-click="removeTodo()">Remove</a>',
              '   </span>',
              '</div>'
            ].join('\n'),
            link: function(scope, element, attrs) {
              scope.editing = false;
              scope.editTodo = function() {
                scope.editing = true;
              };
              scope.removeTodo = function() {
                scope.model.$remove();
              },
              scope.saveTodo = function() {
                scope.model.$save();
                scope.editing = false;
              };
            }
          }
        })

        .controller('TodoController', function($scope)
        {
          RekordBind( $scope, Todo );

          this.todos = Todo.all();

          this.isOnline = function() {
            return !Rekord.forceOffline;
          };
          this.setOnline = function(online) {
            Rekord.forceOffline = !online;
            Rekord.checkNetworkStatus();
          };

          this.newTodo = function() {
            this.todo = new Todo({
              name: '',
              done: false
            });
          };

          this.addTodo = function() {
            if ( this.todo.name ) {
              this.todo.$save({
                created_at: Date.now()
              });
              this.newTodo();
            }
          };

          this.newTodo();

          window.TodoController = this;
        })

        .directive('ngEnter', function()
        {
          return function(scope, element, attrs) 
          {
            element.on('keydown', function(e) 
            {
              if (e.which === 13) 
              {
                scope.$evalAsync(attrs.ngEnter);
                e.preventDefault();
              }
            });
          }
        })
      ;

    </script>

  </body>
</html>