<!DOCTYPE html>
<html>
  <head>
    <title>Rekord Tasks Example</title>

    <link rel="stylesheet" href="tasks.css">

  </head>
  <body ng-app="tasks">

    <div class="container">

      <div ng-controller="TaskController as ctrl">

        <!-- Online status -->
        <div style="float:right">
          <a href="#" ng-hide="ctrl.isOnline()" ng-click="ctrl.setOnline(true)">Go Online</a>
          <a href="#" ng-show="ctrl.isOnline()" ng-click="ctrl.setOnline(false)">Go Offline</a>
        </div>

        <!-- New Task List -->
        <div class="row">
          <div class="input-field col s12">
            <input type="text" ng-model="ctrl.taskList.name" ng-enter="ctrl.addTaskList()" id="taskListName">
            <label for="taskListName">New Task List</label>
          </div>
        </div>

        <!-- Task Lists -->
        <task-list ng-repeat="t in ctrl.taskLists track by t.id" model="t" class="animated"></task-list>

      </div>

    </div>

    <!-- Materialize -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
    <script src="http://rawgit.com/Rekord/storkjs/master/build/stork.min.js"></script>
    <script src="http://rawgit.com/yaru22/angular-timeago/master/dist/angular-timeago.min.js"></script>

    <script src="../pubsub/pubsub-client.js"></script>

    <script src="../../build/rekord.js"></script>
    <script src="http://rawgit.com/Rekord/rekord-pubsub/master/build/rekord-pubsub.min.js"></script>
    <script src="http://rawgit.com/Rekord/rekord-storkjs/master/build/rekord-stork.min.js"></script>
    <script src="http://rawgit.com/Rekord/rekord-angular/master/build/rekord-angular.min.js"></script>
    <script src="http://rawgit.com/Rekord/rekord-debug/master/build/rekord-debug.min.js"></script>

    <!-- Todo Application -->
    <script>

      // Skip the first N times a function is called
      Function.prototype.skip = function(times) {
        var func = this;
        var skips = parseInt(times) || 1;
        return function() {
          if (skips === 0) {
            func.apply( this, arguments );
          } else {
            skips--;
          }
        };
      };

      angular.module('tasks', ['rekord', 'yaru22.angular-timeago', 'ngAnimate'])

        .config(function($logProvider, RekordSettings)
        {
          $logProvider.debugEnabled( true );

          RekordSettings.debug = true;
          Rekord.debugTrace = false;
        })

        .constant('PUBSUB', 'http://localhost:3000')

        .constant('RESTBASE', 'http://localhost:8080/api/')

        .run(function(PUBSUB, RESTBASE)
        {
          var Task = Rekord({
            name: 'task',
            api: RESTBASE + 'task/',
            pubsub: PUBSUB,
            channel: 'tasks',
            token: 'root',
            fields: ['task_list_id', 'name'],
            timestamps: ['created_at', 'updated_at', 'finished_at'],
            defaults: {
              finished_at: null
            },
            belongsTo: {
              taskList: {
                model: 'TaskList'
              }
            },
            methods: {
              setFinished: function(finished) {
                this.$save('finished_at', finished ? Date.now() : null);
              }
            },
            summarize: function(task) {
              return task.name;
            }
          });

          var TaskList = Rekord({
            name: 'task_list',
            api: RESTBASE + 'task_list/',
            pubsub: PUBSUB,
            channel: 'task_lists',
            token: 'root',
            fields: ['name'],
            timestamps: true,
            comparator: '-created_at',
            hasMany: {
              tasks: {
                model: 'Task',
                comparator: ['-finished_at', '-created_at'],
                comparatorNullsFirst: true
              }
            },
            summarize: function(taskList) {
              return taskList.name;
            }
          });

          window.Task = Task;
          window.TaskList = TaskList;

          Rekord.load();
        })

        .directive('taskList', function()
        {
          return {
            restrict: 'E',
            scope: {
              model: '='
            },
            templateUrl: 'taskList.html',
            link: function(scope, element, attrs)
            {
              RekordBind( scope, scope.model );

              scope.editing = false;

              scope.newTask = function() {
                scope.task = new Task({
                  name: ''
                });
              };
              scope.save = function() {
                if (!scope.model.name) return;
                scope.model.$save();
                scope.editing = false;
              };
              scope.edit = function() {
                scope.editing = true;
              };
              scope.remove = function() {
                scope.model.$remove();
              };
              scope.clear = function() {
                scope.model.tasks.unrelate();
              };
              scope.addTask = function() {
                if (!scope.task.name) return;
                scope.task.$save({
                  created_at: Date.now()
                });
                scope.model.tasks.relate( scope.task );
                scope.newTask();
              };

              scope.newTask();
            }
          }
        })

        .directive('task', function()
        {
          return {
            restrict: 'E',
            scope: {
              model: '='
            },
            templateUrl: 'task.html',
            link: function(scope, element, attrs)
            {
              RekordBind( scope, scope.model, updateFinished );

              scope.editing = false;
              scope.$ = {finished: !!scope.model.finished_at};

              scope.edit = function() {
                scope.editing = true;
              };
              scope.remove = function() {
                scope.model.$remove();
              };
              scope.save = function() {
                if (!scope.model.name) return;
                scope.model.$save();
                scope.editing = false;
              };

              scope.$watch('$.finished', function(finished) {
                scope.model.setFinished( finished );
              }.skip() );

              function updateFinished() {
                scope.$.finished = !!scope.model.finished_at;
              }
            }
          }
        })

        .controller('TaskController', function($scope)
        {
          RekordBind( $scope, TaskList );

          this.taskLists = TaskList.all();

          this.isOnline = function() {
            return !Rekord.forceOffline;
          };
          this.setOnline = function(online) {
            Rekord.forceOffline = !online;
            Rekord.checkNetworkStatus();
          };

          this.newTaskList = function() {
            this.taskList = new TaskList({
              name: ''
            });
          };

          this.addTaskList = function() {
            if (!this.taskList.name) return;
            this.taskList.$save({
              created_at: Date.now(),
              updated_at: Date.now()
            });
            this.newTaskList();
          };

          this.newTaskList();

          window.TaskController = this;
        })

        .directive('ngEnter', function()
        {
          return function(scope, element, attrs)
          {
            element.on('keydown', function(e)
            {
              if (e.which === 13)
              {
                scope.$evalAsync(attrs.ngEnter);
                e.preventDefault();
              }
            });
          }
        })
      ;

    </script>

  </body>
</html>
