<!DOCTYPE html>
<html>
  <head>
    <title>Neurosync User Management Example</title>

    <link rel="stylesheet" href="users.css">

  </head>
  <body ng-app="users">

    <div class="container">

      <div ng-controller="UserController as ctrl">

        <!-- Heading -->
        <h5 class="card-panel teal white-text">Users</h5>

        <!-- New User -->
        <div class="row">
          <div class="input-field col s12">
            <input type="text" ng-model="ctrl.user.name" ng-enter="ctrl.addUser()" id="userName">
            <label for="userName">New User</label>
          </div>
        </div>

        <!-- User Lists -->
        <div class="nameds">
          <ul class="collection">
            <li class="collection-item animated" ng-repeat="u in ctrl.users track by u.id">
              <named model="u" related="groups"></named>
            </li>
          </ul>
        </div>

      </div>

      <div ng-controller="GroupController as ctrl">

        <!-- Heading -->
        <h5 class="card-panel teal white-text">Groups</h5>

        <!-- New User -->
        <div class="row">
          <div class="input-field col s12">
            <input type="text" ng-model="ctrl.group.name" ng-enter="ctrl.addGroup()" id="groupName">
            <label for="groupName">New Group</label>
          </div>
        </div>

        <!-- User Lists -->
        <div class="nameds">
          <ul class="collection">
            <li class="collection-item animated" ng-repeat="g in ctrl.groups track by g.id">
              <named model="g" related="users"></named>
            </li>
          </ul>
        </div>

      </div>

      <div ng-controller="UserGroupController as ctrl">

        <!-- Heading -->
        <h5 class="card-panel teal white-text">User Groups</h5>

        <!-- User Selection -->
        <div class="row">
          <div class="input-field col s5">
            <select ng-model="ctrl.user" ng-options="u.name for u in ctrl.users" class="browser-default"></select>
          </div>
          <div class="input-field col s5">
            <select ng-model="ctrl.group" ng-options="g.name for g in ctrl.groups" class="browser-default"></select>
          </div>
          <div class="col s2">
            <button class="btn" ng-show="ctrl.user && ctrl.group && !ctrl.hasRelationship()" ng-click="ctrl.relate()">Relate</button>
            <button class="btn" ng-show="ctrl.user && ctrl.group && ctrl.hasRelationship()" ng-click="ctrl.unrelate()">Unrelate</button>
          </div>
        </div>

      </div>

    </div>

    <!-- Materialize -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="http://rawgit.com/ClickerMonkey/storkjs/master/build/stork.min.js"></script>
    
    <!-- <script src="pubsub/pubsub-client.js"></script> -->

    <script src="../../build/neurosync.js"></script>
    <!-- <script src="../../build/plugins/neurosync-pubsub.min.js"></script> -->
    <script src="../../build/plugins/neurosync-stork.min.js"></script>
    <script src="../../build/plugins/neurosync-debug.min.js"></script>
    <script src="../../build/plugins/neurosync-angular.min.js"></script>

    <!-- Todo Application -->
    <script>

      // Skip the first N times a function is called
      Function.prototype.skip = function(times) {
        var func = this;
        var skips = parseInt(times) || 1;
        return function() {
          if (skips === 0) {
            func.apply( this, arguments );
          } else {
            skips--; 
          }
        };
      };

      angular.module('users', ['neurosync', 'ngAnimate'])

        .config(function($logProvider, NeuroSettings)
        {
          $logProvider.debugEnabled( true );

          NeuroSettings.debug = true;
          Neuro.debugTrace = true;
        })

        .value('RESTBASE', 'http://localhost:8080/api/')

        .factory('User', function(Neuro, RESTBASE)
        {
          var User = Neuro({
            name: 'user',
            className: 'User',
            api: RESTBASE + 'user/',
            key: 'id',
            autoRefresh: true,
            fields: ['id', 'name', 'updated_at', 'created_at'],
            defaults: {
              updated_at: Date.now,
              created_at: Date.now
            },
            comparator: '-created_at',
            loadRelations: true,
            hasMany: {
              userGroups: {
                model: 'UserGroup',
                cascadeRemove: true,
                auto: true,
                property: true
              }
            },
            hasManyThrough: {
              groups: {
                model: 'Group',
                through: 'UserGroup',
                cascadeRemove: true,
                property: true
              }
            },
            toString: function(user) {
              return user.name;
            }
          });

          window.User = User;

          return User;
        })

        .factory('UserGroup', function(Neuro, RESTBASE)
        {
          var UserGroup = Neuro({
            name: 'user_group',
            className: 'UserGroup',
            api: RESTBASE + 'user_group/',
            autoRefresh: true,
            fullSave: true,
            key: ['user_id', 'group_id'],
            fields: ['user_id', 'group_id', 'created_at'],
            defaults: {
              created_at: Date.now
            },
            loadRelations: true,
            belongsTo: {
              user: {
                model: 'User',
                property: true
              },
              group: {
                model: 'Group',
                property: true
              }
            },
            toString: function(userGroup) {
              return userGroup.user_id + ' in ' + userGroup.group_id;
            }
          });

          window.UserGroup = UserGroup;

          return UserGroup;
        })

        .factory('Group', function(Neuro, RESTBASE)
        {
          var Group = Neuro({
            name: 'group',
            className: 'Group',
            api: RESTBASE + 'group/',
            key: 'id',
            autoRefresh: true,
            fields: ['id', 'name', 'updated_at', 'created_at'],
            defaults: {
              updated_at: Date.now,
              created_at: Date.now
            },
            comparator: '-created_at',
            loadRelations: true,
            hasMany: {
              userGroups: {
                model: 'UserGroup',
                cascadeRemove: true,
                auto: true,
                property: true
              }
            },
            hasManyThrough: {
              users: {
                model: 'User',
                through: 'UserGroup',
                cascadeRemove: true,
                property: true
              }
            },
            toString: function(group) {
              return group.name;
            }
          });

          window.Group = Group;

          return Group;
        })

        .directive('named', function(NeuroBind)
        {
          return {
            restrict: 'E',
            scope: {
              model: '=',
              related: '@'
            },
            templateUrl: 'named.html',
            link: function(scope, element, attrs) 
            {
              NeuroBind( scope, scope.model );

              scope.editing = false;

              scope.edit = function() {
                scope.editing = true;
              };
              scope.remove = function() {
                scope.model.$remove();
              };
              scope.save = function() {
                if (!scope.model.name) return;
                scope.model.$save({
                  updated_at: Date.now()
                });
                scope.editing = false;
              };
            }
          }
        })

        .controller('UserController', function($scope, Neuro, NeuroBind, User, UserGroup)
        {
          NeuroBind( $scope, User );

          this.users = User.Database.getModels();

          this.newUser = function() {
            this.user = new User({
              name: ''
            });
          };

          this.addUser = function() {
            if (!this.user.name) return;
            this.user.$save({
              created_at: Date.now(),
              updated_at: Date.now()
            });
            this.newUser();
          };

          this.newUser();

          window.UserController = this;
        })

        .controller('GroupController', function($scope, Neuro, NeuroBind, Group, UserGroup)
        {
          NeuroBind( $scope, Group );

          this.groups = Group.all();

          this.newGroup = function() {
            this.group = new Group({
              name: ''
            });
          };

          this.addGroup = function() {
            if (!this.group.name) return;
            this.group.$save({
              created_at: Date.now(),
              updated_at: Date.now()
            });
            this.newGroup();
          };

          this.newGroup();

          window.GroupController = this;
        })

        .controller('UserGroupController', function($scope, Neuro, NeuroBind, User, Group, UserGroup)
        {
          NeuroBind( $scope, User );
          NeuroBind( $scope, Group );

          this.users = User.all();
          this.groups = Group.all();

          this.user = null;
          this.group = null;

          this.hasRelationship = function()
          {
            if ( !this.user || !this.group ) return false;

            return this.user.groups.isRelated( this.group.id );
          };

          this.unrelate = function()
          {
            this.user.groups.unrelate( this.group.id );
          };

          this.relate = function()
          {
            this.user.groups.relate( this.group.id );
          };

          window.UserGroupController = this;
        })

        .directive('ngEnter', function()
        {
          return function(scope, element, attrs) 
          {
            element.on('keydown', function(e) 
            {
              if (e.which === 13) 
              {
                scope.$evalAsync(attrs.ngEnter);
                e.preventDefault();
              }
            });
          }
        })
      ;

    </script>

  </body>
</html>