/* Named */
.named {
  padding: 3px;
}
.named-actions {
  float: right;
}
.relateds {
  float: right;
  margin-right: -8px;
}
.relateds span {
  padding: 7px;
  border-radius: 5px;
  background-color: #eee;
  margin-left: 5px;
  color: #666;
  font-size: 12px;
}
.named-actions a {
  padding-left: 10px;
  color: #666;
  font-size: 14px;
  text-decoration: none;
  display: none;
}
.named-actions a:hover {
  text-decoration: underline;
}

/* Nameds */
.nameds .collection .collection-item {
  padding: 5px 10px;
}
.nameds .collection .collection-item:hover {
  background-color: #eee;
}
.nameds .collection .collection-item:hover .hide-on-hover {
  display: none;
}
.nameds .collection .collection-item:hover .named-actions a {
  display: inline-block;
}